body {
    font-family: Helvetica, "Helvetica Neue", sans-serif;
}
#bluepara {
    color: blue;
}

.script {
    font-family: "Brush Script MT", "Brush Script Std", cursive;
}

.bigheading {
    font-size: 60px;
}
